# Node / Angular
/node_modules/
/frontend/node_modules/
/frontend/dist/
/frontend/coverage/
/frontend/.angular/

# Java / Maven
/backend/target/

# Logs
*.log
*.err

# Temp
.tmp/

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db
